<h1 class="text-center">Pilot Login</h1>

<p style="text-align:center;"><%= image_tag("vaf_roundel-mini.png") %></p>

<%= form_tag sessions_path, method: :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log In", class: "button success expand" %></div>
<% end %>