<p>
  <strong>Tag:</strong>
  <%= @qualification.tag %>
</p>

<p>
  <strong>Name:</strong>
  <%= @qualification.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @qualification.description %>
</p>

<p>
  <strong>Patch:</strong>
  <%= image_tag @qualification.patch.url(:small) %>
</p>

<div class="button-group">
  <%= link_to 'Back', qualifications_path, method: :get, :class => "button" %>
  <%= link_to 'Edit', edit_qualification_path(@qualification), method: :get, :class => "button success" %>
</div>