<h1><%= "#{@tasking.mission.title} - #{@tasking.callsign}" %></h1>

<p>
  <strong>Callsign:</strong>
  <%= @tasking.callsign %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @tasking.mission.title %>
</p>

<p>
  <strong>Airframe type:</strong>
  <%= @tasking.airframe_type.fullname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @tasking.number %>
</p>

<p>
  <strong>Tasking type:</strong>
  <%= @tasking.tasking_type %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @tasking.notes %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @tasking.channel %>
</p>

<p>
  <strong>Primary base:</strong>
  <%= Airfield.find(@tasking.primary_base_id).name %>
</p>

<p>
  <strong>Alternate base:</strong>
  <%= Airfield.find(@tasking.alternate_base_id).name %>
</p>

<div class="button-group">
  <%= link_to 'Back', mission_path(@tasking.mission), method: :get, :class => "button" %>
  <%= link_to 'Edit', edit_tasking_path(@tasking), method: :get, :class => "button success" %>
</div>