<% if @pilot.admin  %>
    <div data-alert class="alert-box alert">
      This pilot is an admin
    </div>
<% end %>
<div class="row">
  <div class="large-6 columns">
    <p>
      <strong>Name:</strong>
      <%= @pilot.name %>
    </p>

    <p>
      <strong>Callsign:</strong>
      <%= @pilot.callsign %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @pilot.email %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= image_tag "country-4x3/#{@pilot.country.downcase}.svg", width: 32, alt: @pilot.country %>
    </p>
    <p>
      <strong>Rank:</strong>
      <%= @pilot.rank %>
    </p>

    <p>
      <strong>Squadron:</strong>
      <%= @pilot.squadron.name rescue "None" %>
    </p>
  </div>
  <div class="large-6 columns">
    <%= image_tag @pilot.profile_pic.url(:normal) %>
  </div>
</div>

<h1>Pilots Stats</h1>
<div class="panel">
  <div class="row">
    <div class="small-6 columns">
      <p>
        <strong>Total Hours</strong>
      </p>
      <p>
        <strong>Total Missions</strong>
      </p>
      <p>
        <strong>Total Takeoffs</strong>
      </p>
      <p>
        <strong>Total Landings</strong>
      </p>
      <p>
        <strong>AA Kills</strong>
      </p>
      <p>
        <strong>AG Kills</strong>
      </p>
    </div>
    <div class="small-6 columns">
      <p>
        <%= @pilot.hours %>
      </p>
      <p>
        <%= @pilot.missions %>
      </p>
      <p>
        <%= @pilot.takeoffs %>
      </p>
      <p>
        <%= @pilot.landings %>
      </p>
      <p>
        <%= @pilot.aa_kills %>
      </p>
      <p>
        <%= @pilot.ag_kills %>
      </p>
    </div>
  </div>
</div>

<div class="button-group">
  <%= link_to 'Back', pilots_path, method: :get, :class => "button" %>
  <%= link_to 'Edit', edit_pilot_path(@pilot), method: :get, :class => "button success" %>
  <%= link_to 'Admin', admin_toggle_pilot_path(@pilot), method: :put, :class => "button" %>
</div>