<p>
  <strong>Pilot:</strong>
  <%= @action_report.pilot.fullname %>
</p>

<p>
  <strong>Airframe:</strong>
  <%= @action_report.airframe.fullname %>
</p>

<p>
  <strong>Tasking:</strong>
  <%= "#{@action_report.tasking.callsign}#{@action_report.position}" %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @action_report.hours %>
</p>

<p>
  <strong>Takeoffs:</strong>
  <%= @action_report.takeoffs %>
</p>

<p>
  <strong>Landings:</strong>
  <%= @action_report.landings %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @action_report.outcome %>
</p>

<p>
  <strong>Aa kills:</strong>
  <%= @action_report.aa_kills %>
</p>

<p>
  <strong>Ag kills:</strong>
  <%= @action_report.ag_kills %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @action_report.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @action_report.status %>
</p>

<div class="button-group">
  <%= link_to 'Back', action_reports_path, method: :get, :class => "button" %>
  <%= link_to 'Edit', edit_action_report_path(@action_report), method: :get, :class => "button success" %>
  <%= link_to 'Close', "#", method: :get, "data-open" => "closeReport", :class => "button alert" %>
</div>

<div id="closeReport" class="small reveal" data-reveal>
  <h2>Close Action Report</h2>
  <%= form_for @action_report do |f| %>
      <%= f.hidden_field :status, :value => 'Closed' %>
      <div class="field">
        <%= f.number_field :hours, :step => 0.1 %>
      </div>
      <div class="field">
        <%= f.number_field :takeoffs %>
      </div>
      <div class="field">
        <%= f.number_field :landings %>
      </div>
      <div class="field">
        <%= f.number_field :aa_kills %>
      </div>
      <div class="field">
        <%= f.number_field :ag_kills %>
      </div>
      <div class="field">
        <%= f.select :outcome, ActionReport::OUTCOME, {:include_blank => "Select..."} %>
      </div>
      <div class="field">
        <%= f.text_area :notes %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <button class="close-button" data-close aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
  <% end %>