<p style="text-align:center;"><%= image_tag("vaf_logo.png") %></p>
<div class="callout secondary"><h1 class="text-justify">The Virtual Air Force is a group of dedicated simulation pilots that work together to create the most realistic and authentic combat flying that they can.</h1></div>
<h2 class="text-justify"><small>If you’re an experienced pilot that wishes to fly more organised, realistic missions, or you’re new to flight sims and want to learn, or you’ve never tried flying with other people. Then consider a career in the Virtual Air Force.

  We build our abilities and knowledge through training, teamwork and tactical experience. We strive to improve our flying, challenge ourselves and have fun.


  Using several airframes in Digital Combat Simulator we can offer a variety or roles both in the air and on the ground.
</small></h2>
<h2>Our Mission</h2>
<ul class="square">
  <li>To train, improve ability and carry out realistic combat operations successfully, in a mature, structured environment.</li>
  <li>To build teamwork, cooperation and friendship amongst our members.</li>
  <li>To foster an interest in aviation and tactical realism.</li>
</ul>
<h2>What We Offer</h2>
<p>We are an organisation that will grow with you as you develop. We want to improve the Virtual Air Force to become one of the most realistic virtual air combat groups in the community. So that means there is always going to be a new challenge for you.


  We complete missions that are based around believable, credible scenarios that mirror real world operations and radiotelephony. This means you could find yourself involved in peacekeeping operations, humanitarian aid, air policing, customs and excise support, intelligence gathering and many other tasks alongside our primary role of air defence, support and strike missions.


  We train for these scenarios in a realistic way, offering progression, development and reward. Starting with Initial Flight Training in a two-seat light jet, all the way up to Operational Conversion in a single seat jet fighters.


  Offering opportunities for pilots to qualify on multiple fixed and rotary wing airframes means there is always something for you to do. We also have ground roles in support operations like Forward Air Controller, Air Traffic Control and Aerospace Battle Management.
</p>
<h2>Join Us</h2>
<p>We are currently looking for pilots that meet some basic requirements:</p>
<ul class="square">
  <li>Proficient in spoken and written English</li>
  <li>Available most Thursday evenings at 8PM UK/London time</li>
  <li>Have DCS World 2.7 and Simple Radio Standalone installed</li>
  <li>Has one of the following modules (F/A-18C, F-16C, A-10C, AV8B Harrier</li>
  <li>Interested in flying as part of a team with a focus on operational realism</li>
</ul>
<p>If that sounds like you then you can check out the career options on our recruitment page</p>
<%= button_to 'Join Us', static_join_path, method: :get, :class => "button" %>
<h2>Get In Touch</h2>
<p>We use <%= link_to 'discord', "http://www.discordapp.com" %> as a way of staying in touch with each other, you’re welcome to drop in at <%= link_to 'VAF Discord', "https://discord.gg/7vnKqGQ" %> or you can find us at our <%= link_to 'Facebook page', "https://www.facebook.com/groups/1107929809236251/" %></p>
<p class="text-center"><a href="http://www.youtube.com/user/deephack">Deephack's Youtube Channel</a> | <a href="https://www.youtube.com/channel/UC73Bl7hZgqFmCcl1Hufj3Yg">dotChuckles Youtube Channel</a></p>