<h1>Service History</h1>
<p>
  <strong>Name:</strong>
  <%= @pilot.name %>
</p>

<p>
  <strong>Callsign:</strong>
  <%= @pilot.callsign %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pilot.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= image_tag "country-4x3/#{@pilot.country.downcase}.svg", width: 32, alt: @pilot.country %>
</p>
<p>
  <strong>Rank:</strong>
  <%= @pilot.rank %>
</p>

<p>
  <strong>Squadron:</strong>
  <%= @pilot.squadron.name rescue "None" %>
</p>

<h1>Pilots Stats</h1>
<div class="callout">
  <div class="row">
    <div class="small-6 columns">
      <p>
        <strong>Total Hours</strong>
      </p>
      <p>
        <strong>Total Missions</strong>
      </p>
      <p>
        <strong>Total Takeoffs</strong>
      </p>
      <p>
        <strong>Total Landings</strong>
      </p>
      <p>
        <strong>AA Kills</strong>
      </p>
      <p>
        <strong>AG Kills</strong>
      </p>
    </div>
    <div class="small-6 columns">
      <p>
        <%= @pilot.hours %>
      </p>
      <p>
        <%= @pilot.missions %>
      </p>
      <p>
        <%= @pilot.takeoffs %>
      </p>
      <p>
        <%= @pilot.landings %>
      </p>
      <p>
        <%= @pilot.aa_kills %>
      </p>
      <p>
        <%= @pilot.ag_kills %>
      </p>
    </div>
  </div>
</div>
<h1>Mission Log</h1>
<div class="callout">
  <table>
    <thead>
      <tr>
        <th>Mission</th>
        <th>Tasking</th>
        <th>Hours</th>
        <th>Outcome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @last_five_reports.each do |report| %>
      <tr>
        <td><%= report.tasking.mission.title %></td>
        <td><%= "#{report.tasking.callsign} - #{report.position}" %></td>
        <td><%= report.hours %></td>
        <td><%= report.outcome %></td>
        <td><%= link_to 'show', report %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
