<p>
  <strong>Name:</strong>
  <%= @squadron.name %>
</p>

<p>
  <strong>Aircraft:</strong>
  <%= @squadron.aircraft %>
</p>

<p>
  <strong>Airbase:</strong>
  <%= @squadron.airfield.name %>
</p>
<ul class="button-group">
  <li><%= button_to 'Back', squadrons_path, method: :get, :class => "button" %></li>
  <li><%= button_to 'Edit', edit_squadron_path(@squadron), method: :get, :class => "button success" %></li>
</ul>