<p>
  <strong>Name:</strong>
  <%= @airframe_type.name %>
</p>

<p>
  <strong>Callsign:</strong>
  <%= @airframe_type.callsign %>
</p>

<p>
  <strong>Category:</strong>
  <%= @airframe_type.category %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @airframe_type.cost %>
</p>

<p>
  <strong>Maintenance hours:</strong>
  <%= @airframe_type.maintenance_hours %>
</p>

<ul class="button-group">
  <li><%= button_to 'Back', airframe_types_path, method: :get, :class => "button" %></li>
  <li><%= button_to 'Edit', edit_airframe_type_path(@airframe_type), method: :get, :class => "button success" %></li>
</ul>