<div class="off-canvas-wrapper">
  <div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon" type="button" data-open="offCanvas"></button>
      <span class="title-bar-title">The Virtual Air Force</span>
    </div>
    <div class="title-bar-right">
      <% if session[:pilot_id] != nil %>
          <%= link_to 'Logout', session_path("current"), method: :delete %>
      <% else %>
          <%= link_to 'Login', new_session_path, method: :get %>
      <% end %>
    </div>
  </div>
  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <ul class="vertical menu">
      <li><label>Administration</label></li>
      <li><%= link_to 'Pilots', pilots_path %></li>
      <li><%= link_to 'Qualifications', qualifications_path %></li>
      <li><%= link_to 'Squadrons', squadrons_path %></li>
      <li><%= link_to 'Airfields', airfields_path %></li>
      <li><%= link_to 'Airframe Types', airframe_types_path %></li>
      <li><%= link_to 'Airframes', airframes_path %></li>
      <li><%= link_to 'Missions', missions_path %></li>
      <li><%= link_to 'Action Reports', action_reports_path %></li>
    </ul>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    <div class="row">
      <%= display_flash_messages %>
      <%= yield %>
    </div>
  </div>
</div>