<!DOCTYPE html>
<html>
<head>
  <title>Virtual Air Force</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:pilot_id] != nil && Pilot.find(session[:pilot_id]).admin %>
  <%= render 'layouts/admin_logged_in' %>
<% elsif session[:pilot_id] != nil && Pilot.find(session[:pilot_id]).admin == false %>
  <%= render 'layouts/pilot_logged_in' %>
<% else %>
  <%= render 'layouts/logged_out' %>
<% end %>
</body>
</html>
