<!DOCTYPE html>
<html>
<head>
  <title>Virtual Air Force</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">The Virtual Air Force</h1>
      </section>
    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Administration</label></li>
        <li><%= link_to 'Pilots', pilots_path %></li>
        <li><%= link_to 'Squadrons', squadrons_path %></li>
        <li><%= link_to 'Airfields', airfields_path %></li>
        <li><%= link_to 'Airframe Types', airframe_types_path %></li>
        <li><%= link_to 'Airframes', airframes_path %></li>
        <li><%= link_to 'Missions', missions_path %></li>
        <li><%= link_to 'Action Reports', action_reports_path %></li>
      </ul>
    </aside>
    <section class="main-section">
      <div class="row">
        <%= display_flash_messages %>
        <%= yield %>
      </div>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>
</body>
</html>
